{% extends 'base.html'%}

<!--title tag-->
{% block title %}
<title>Plasma-Request</title>
<style>
    body{
     background-image:url('static\\bg.jpg');
     }
     .bg-primary{
       background-color:red !important;
     }
     .card-body{
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.141);
        backdrop-filter: blur(5px);
     }
 </style>
{% endblock %}

<!---Login Content-->
{% block content %}
<!---Registration form-->


<div class="container mt-5" id="request-form">
  <div class="row justify-content-center">
      <div class="col-sm-12 ">
          <div class="card">
            <div class="msg" style="color: green;">{{ msg }}</div>
              <div class="card-body">
                <h4 style="text-align: center;">Request for Plasma</h4>
                  <!----Form content---->
                  <form action="/request_page" method="post">
                
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group mr-4 ">
                                <label for="drmail">Enter Donor Mail</label>
                                <input type="email" class="form-control" name="drmail" id="drmail" required 
                                placeholder="Enter Donor mail from the table">
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="hospitalname">Hospital Name</label>
                                <input type="text" class="form-control" name="hospitalname" id="hospitalname" required 
                                placeholder="Enter Hospital Nmae">
                                
                            </div>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group mr-4 ">
                                <label for="fullname">FullName</label>
                                <input type="text" class="form-control" name="recname" id="fullname" required 
                                placeholder="Enter your FullName">
                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="mobile">Mobile Number</label>
                                <input type="tel" class="form-control" name="recmobile" id="mobile" required 
                                placeholder="Enter your Mobile Number">
                                
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mr-4 ">
                                <label for="recmail">Your Mail</label>
                                <input type="email" class="form-control" name="recmail" id="recmail" required 
                                placeholder="Enter your Email">
                                
                            </div>
                        </div>
                    </div>
                

                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group mr-4">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" name="recage" id="age" required 
                                placeholder="Enter your Age">
                                
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group mr-4">
                            <label for="gender" class="form-label">Gender</label><br>
                            <select id="gender" class="form-control" name="recgender">
                              <option selected>Select your Gender</option>
                              <option>Male</option>
                              <option>Female</option>
                              <option>Other</option>
                            </select>
                        </div>
                        </div>
                        
                    
                        <div class="col-sm-4">
                            <div class="form-group mr-4">
                            <label for="blood-group" class="form-label">Blood Group</label><br>
                            <select id="blood-group" class="form-control" name="recbloodgroup">
                              <option selected>Select your blood group</option>
                              <option>O+</option>
                              <option>O-</option>
                              <option>A+</option>
                              <option>A-</option>
                              <option>B+</option>
                              <option>B-</option>
                              <option>AB+</option>
                              <option>AB-</option>
                            </select>
                        </div>
                        </div>
                      </div>

                        <div class="form-row">
                            <div class="col-sm-4">
                                <div class="form-group mr-4 ">
                                    <label for="Area">Area</label>
                                    <input type="text" class="form-control" name="recarea" id="Area" required 
                                    placeholder="Enter your Area Name">
                                    
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" name="reccity" id="city" required 
                                    placeholder="Enter your City Name">
                                    
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mr-4 ">
                                    <label for="district">District</label>
                                    <input type="text" class="form-control" name="recdistrict" id="district" required 
                                    placeholder="Enter your District Name">
                                    
                                </div>
                            </div>
                        </div>
                  

                      <!--button-->
                    <div class="form-group text-center modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                        <button type="submit" class="btn btn-success">Request</button>
                    </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>



{% endblock %}