{% extends 'base.html'%}

<!--title tag-->
{% block title %}
<title>Plasma-Success</title>
<style>
  body{
   background-image:url('static\\bg.jpg');
   }
   .bg-primary{
     background-color:red !important;
   }
   .card-body{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.141);
    backdrop-filter: blur(5px);
   }
</style>
{% endblock %}

{% block link %}
{% endblock %}

<!---User Content-->
{% block content %}
            
        

        <div class="container-fluid">  
            <div class="text-center">  
                
            <style>
            
            .hide {
              display: none;
            }
            .myDIV:hover + .hide {
              display: block;
              color: red;
            text-align: top;
            }        
                    
                    
            </style>
                
                
                
            <div class="container">   
            <div class="row p-1">
              <div class="col-sm-12">
                <div class="card" style="margin-top: 70px;">
                  <div class="msg">{{ msg }}</div>
                  <div class="card-body">
                
            
            <div class="myDIV">
            
                    <h2>Thank you for donating plasma.</h2> 
                      </div>
                            </div>
                              </div>  
                                  </div>
                                        </div></div> </div> 
      

{% endblock%}




