{% extends 'base.html' %}

<!--title tag-->
{% block title %}
<title>Plasma-Register</title>
<style>
    body{
     background-image:url('static\\bg.jpg');
     }
     .bg-primary{
       background-color:red !important;
     }
     .card-body{
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.141);
        backdrop-filter: blur(5px);
     }
 </style>
{% endblock %}

{% block content %}

<!---Registration form-->

<div class="container mt-5<div class="row"<div class="col-sm-12"><div class="card">
<div class="card-body">
        <form action="/adddonor" method="post">
        <h4 style="text-align: center;">Donating Plasma</h4>
        <div class="form-group ">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" 
                            required>
                        
        </div>
        <!--Splitting into two grids-->
        <div class="form-row">
            <div class="col-sm-6">
                <div class="form-group mr-4 ">
                    <label for="mobile">Mobile Number</label>
                    <input type="tel" class="form-control" name="mobile" id="mobile" required 
                    placeholder="Enter your Mobile No.">
                                    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required 
                    placeholder="Enter your Email">
                                    
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4">
                <div class="form-group mr-4">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" name="age" id="age" required 
                    placeholder="Enter your Age">
                                    
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group mr-4">
                <label for="gender" class="form-label">Gender</label><br>
                <select id="gender" class="form-control" name="gender">
                    <option selected>Select your Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
            </div>
                            
                        
            <div class="col-sm-4">
                <div class="form-group mr-4">
                <label for="blood-group" class="form-label">Blood Group</label><br>
                <select id="blood-group" class="form-control" name="blood">
                    <option selected>Select your blood group</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                </select>
            </div>
            </div>
        </div>


            <div class="form-row">
                <div class="col-sm-4">
                    <div class="form-group mr-4 ">
                        <label for="Area">Area</label>
                        <input type="text" class="form-control" name="area" id="Area" required 
                        placeholder="Enter your Area Name">
                                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" id="city" required 
                        placeholder="Enter your City Name">
                                        
                    </div>
    
                </div>
                <div class="col-sm-4">
                    <div class="form-group mr-4 ">
                        <label for="district">District</label>
                        <input type="text" class="form-control" name="district" id="district" required 
                        placeholder="Enter your District Name">
                                        
                    </div>
                </div>
            </div>


                        <!--button-->
                <div class="form-group text-center">
                    <input type="reset" value="Reset" class="btn btn-dark mr-2">
                    <input type="submit" value="Submit" class="btn btn-success">
                
                </div>

            </form>
        </div>
    </div>
</div>
</div>
</div>




{% endblock %}