{% extends 'base.html'%}

<!--title tag-->
{% block title %}
<title>Admin-LogIn</title>
{% endblock %}

<!---Login Content-->
{% block content %}
<!---Registration form-->
<div class="container">
    <div class="text-center mt-5"><h2>LogIn as Admin</h2></div>

</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <!----Form content---->
                    <form action="/" method="post">

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="" id="email" required placeholder="Enter your Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="" id="password" placeholder="Enter Password" required>
                        </div>

                       
                       
                    

                        <!--button-->
                        <div class="form-group text-center">
                            
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}